*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.button{
    background-color: #7d2ae8;
    border-radius: 55px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 95px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: 360px;
}
.button.active{
    height: 20px;
    width: 500px;
}
.button::before{
    content: "";
    background-color: #5b13b9;
    border-radius: 55px;
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.button.active::before{
    animation: layer 6s ease-in-out forwards;
}
@keyframes layer {
    100%{
        left: 0%;
    }
}
.button .content{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
    width: 100%;
}
.button.active .content{
    transform: translateY(60px);
}
.content i,.content .button_text{
    color: #fff;
    font-size: 40px;

}
.content .button_text{
    font-size: 28px;
    margin-left: 8px;
    text-transform: capitalize;
}